In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [4,5,6],
                   'b':[7,8,9],
                   'c':[10,11,12]},
                 index = [1,2,3])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
df = pd.DataFrame({'a': [4,5,6],
                   'b':[7,8,9],
                   'c':[10,11,12]},
                 index = [1,2,3],
                 columns = ['a', 'c', 'b'])
df

   a   c  b
1  4  10  7
2  5  11  8
3  6  12  9

In [10]:
df = pd.DataFrame({'a': [4,5,6],
                   'b':[7,8,9],
                   'c':[10,11,12]},
                 index = pd.MultiIndex.from_tuples([('d',1), ('d',2), ('e', 2)], names = ['n', 'v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [11]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd 

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names, 'drives_right': dr, 'cars_per_cap':cpc}
print(my_dict)
# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

{'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 'drives_right': [True, False, False, False, True, True, True], 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}
         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [12]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [16]:
print(cars['country'])
print(type(cars['country']))

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
<class 'pandas.core.series.Series'>

In [17]:
print(cars[['country']])
print(type(cars[['country']]))

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
<class 'pandas.core.frame.DataFrame'>

In [18]:
print(cars[['country', 'drives_right']])

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [19]:
# Print out first 3 observations
print(cars[0:4])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
     country  drives_right  cars_per_cap
IN     India         False            18
RU    Russia          True           200
MOR  Morocco          True            70

In [20]:
print(cars.loc['JAP'])

country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object

In [21]:
print(cars.loc[['AUS', 'EG']])

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [24]:
#commands that give you the same result
cars.loc['RU'] 
cars.iloc[4]

cars.loc[['RU']] 
cars.iloc[[4]]

cars.loc[['RU', 'AUS']] 
cars.iloc[[4, 1]]

       country  drives_right  cars_per_cap
RU      Russia          True           200
AUS  Australia         False           731

In [25]:
print(cars.loc[['MOR'],['drives_right']])

     drives_right
MOR          True

In [26]:
print(cars.loc[['RU', 'MOR'], ['country','drives_right']])

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [27]:
cars.loc['IN', 'cars_per_cap']
cars.iloc[3, 0]

cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]

cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]

   country  drives_right
IN   India         False
RU  Russia          True

In [28]:
# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])

# Print out drives_right column as DataFrame
print(cars.loc[:, ['drives_right']])


# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap', 'drives_right']])

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

In [29]:
# compare arrays

In [30]:
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house >= 18)

# my_house less than your_house
print(my_house < your_house)

[ True  True False False]
[False  True  True False]

In [31]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen > 10 and my_kitchen < 18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen < 14 or my_kitchen > 17)

# Double my_kitchen smaller than triple your_kitchen?
print(2*my_kitchen < 3*your_kitchen)

False
True
True

In [32]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False  True False  True]
[False False False  True]

In [33]:
# Extract drives_right column as Series: dr
dr = cars.loc[:,'drives_right']
print(dr)

# Use dr to subset cars: sel
sel = cars[dr]

# Print sel
print(sel)

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [34]:
# Convert code to a one-liner
sel = cars[cars['drives_right']]

# Print sel
print(sel)

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [35]:
# Create car_maniac: observations that have a cars_per_cap over 500

car_maniac = cars[cars['cars_per_cap'] > 500]
# Print car_maniac
print(car_maniac)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588

In [36]:
medium = cars[np.logical_and(cars["cars_per_cap"] > 100, cars['cars_per_cap'] < 500 )]

# Print medium
print(medium)

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [37]:
# Iterate over rows of cars
for lab, row in cars.iterrows():
    print(lab)
    print(row)

US
country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object
AUS
country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object
JAP
country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object
IN
country         India
drives_right    False
cars_per_cap       18
Name: IN, dtype: object
RU
country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object
MOR
country         Morocco
drives_right       True
cars_per_cap         70
Name: MOR, dtype: object
EG
country         Egypt
drives_right     True
cars_per_cap       45
Name: EG, dtype: object

In [38]:
# Adapt for loop
for lab, row in cars.iterrows() :
    print('%s: %d' % (lab, row['cars_per_cap']))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [39]:
# Code for loop that adds COUNTRY column
for lab,row in cars.iterrows():
    cars.loc[lab, 'COUNTRY'] = row['country'].upper()

In [40]:
cars.head()

           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JAP          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA

In [55]:
cars['Country_Lower'] = cars['country'].map(lambda x: x.lower())

In [56]:
cars.head()

           country  drives_right  cars_per_cap        COUNTRY  Country_Lower
US   United States          True           809  UNITED STATES  united states
AUS      Australia         False           731      AUSTRALIA      australia
JAP          Japan         False           588          JAPAN          japan
IN           India         False            18          INDIA          india
RU          Russia          True           200         RUSSIA         russia

In [57]:
# Use .apply(str.upper)
cars['COUNTRY_U2'] = cars['country'].apply(str.upper)

print(cars)

           country  drives_right  cars_per_cap        COUNTRY  Country_Lower  \
US   United States          True           809  UNITED STATES  united states
AUS      Australia         False           731      AUSTRALIA      australia
JAP          Japan         False           588          JAPAN          japan
IN           India         False            18          INDIA          india
RU          Russia          True           200         RUSSIA         russia
MOR        Morocco          True            70        MOROCCO        morocco
EG           Egypt          True            45          EGYPT          egypt

        COUNTRY_U2
US   UNITED STATES
AUS      AUSTRALIA
JAP          JAPAN
IN           INDIA
RU          RUSSIA
MOR        MOROCCO
EG           EGYPT